# For LOCAL development (MongoDB Compass)
MONGODB_URI=mongodb://localhost:27017/
DB_NAME=legal_analyzer
USE_LOCAL_STORAGE=true
DEBUG=False

# For PRODUCTION (uncomment and fill in your credentials)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/legal_analyzer?retryWrites=true&w=majority
# AWS_ACCESS_KEY_ID=your_access_key_here
# AWS_SECRET_ACCESS_KEY=your_secret_key_here
# AWS_REGION=us-east-1
# S3_BUCKET_NAME=your_bucket_name
# USE_LOCAL_STORAGE=false
